/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

body {
    background: rgb(86, 192, 178);
    background: linear-gradient(0deg, rgb(197, 65, 65) 0%, rgb(4, 161, 182) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/

@font-face {
    font-family: 'bevanregular';
    src: url('../fonts/bevan-regular-webfont.woff2') format('woff2'), url('../fonts/bevan-regular-webfont.woff') format('woff'), url('../fonts/bevan-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merienda_oneregular';
    src: url('../fonts/meriendaone-regular-webfont.woff2') format('woff2'), url('../fonts/meriendaone-regular-webfont.woff') format('woff'), url('../fonts/meriendaone-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'merienda_oneregular';
    font-size: 3em;
    margin: 2em 1rem;
    text-align: center;
    background: linear-gradient(160deg, rgba(197, 65, 65, 0.616) 25%, rgb(4, 161, 182) 75%);
    opacity: 85%;
    animation: fadeIn 15s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'merienda_oneregular', 'bevanregular';
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 2em;
    color: #eee;
    font-size: 1.25em;
    direction: rtl;
    font-family: 'Oxygen', Sans-Serif;
}


/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */


/* Navigation Styles*/

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu li a {
    text-decoration: none;
    color: white;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .1em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    color: #000000;
    ;
}

.navbar__menu .menu__link2 {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar__menu .menu__link:hover {
    background: linear-gradient(160deg, rgba(197, 65, 65, 0.616) 25%, rgb(4, 161, 182) 75%);
    border-radius: 1em;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    color: rgb(255, 255, 255);
    transition: ease 0.3s all;
}

.active {
    background: #333;
    border-bottom-left-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    color: rgb(255, 255, 255);
    transition: ease 0.3s all;
}


/* Header Styles */

.page__header {
    background: rgba(255, 255, 255, 0.609);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Footer Styles */

.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}


/* ---- Theme Rules ---- */


/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
    .landing__container2 {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.landing__container2 {
    padding: 1em;
    text-align: center;
    display: inline-block;
}


/* Background Circles */


/* Note that background circles are created with psuedo elements before and after */


/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n+1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 195, 255, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 75%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */


/* Section Active Styles */


/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.158) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10%;
    border-width: 1px;
    border-color: whitesmoke;
    border-style: groove;
    -webkit-box-shadow: 0px 0px 101px -57px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 101px -57px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 101px -57px rgba(0, 0, 0, 1);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}


/* ===== back to top btn ===== */

#totop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: -999px;
    background: url(../images/totop.png) no-repeat left top;
}

#totop:Hover {
    background: url(../images/totop.png) no-repeat left -51px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: left;
}


/* علشان لما يدوس على الزرار ميظهرش خط اللينك الخارجي */

#totop:active,
#totop:focus {
    outline: none;
}